$primary-color: #0b6e66;
$primary-darker: #085852;
$accent-color: #ffd7c3;
$light-bg: #ffffff;
$dark-text: #212529;
$light-text: #f8f9fa;
$overlay-bg: rgba(0, 0, 0, 0.6);

.heroSection {
  position: relative;
  background: url('/hero-bg.svg') no-repeat center center;
  background-color: rgb(11, 110, 102);

  background-size: cover;
  color: $light-text;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35vh;
  text-align: center;
  border-radius: 1rem;

  @media screen and (max-width: 768px) {
    min-height: 25vh;
    border-radius: 0rem;
  }
}

.contentContainer {
  max-width: 800px;
  margin: 0 auto;
  z-index: 2;
}

.heroInputContainer {
  margin-top: 2rem;
}

.heroInputGroup {
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  background-color: $light-bg;

  input {
    border: none;
    flex-grow: 1;
    padding: 0.9rem 1rem;
    font-size: 1rem;
    color: $primary-darker;

    &:focus {
      outline: none;
    }
  }
}

.heroSearchButton {
  background-color: $primary-color;
  color: $light-text;
  padding: 1rem 1.3rem;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: $primary-darker;
  }

  @media (max-width: 768px) {
  }
}
