.carouselImage {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .carouselImage {
    height: 330px;
  }
}
