.footerC {
  position: relative;
  background-image: url('/footer-background.svg');
  background-size: cover;
  background-position: center;
  background-color: rgb(11, 110, 102);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.106);
    z-index: 1;
  }

  > * {
    position: relative;
    z-index: 2;
  }

  @media (max-width: 768px) {
    height: 80vh;
  }
}
